
WinPolybar/.vs/WinPolybar/v17/.suo
*.user
WinPolybar/WinPolybar/bin/Debug/net5.0-windows/ref/WinPolybar.dll
WinPolybar/WinPolybar/bin/Debug/net5.0-windows/WinPolybar.deps.json
WinPolybar/WinPolybar/bin/Debug/net5.0-windows/WinPolybar.dll
WinPolybar/WinPolybar/bin/Debug/net5.0-windows/WinPolybar.exe
WinPolybar/WinPolybar/bin/Debug/net5.0-windows/WinPolybar.pdb
WinPolybar/WinPolybar/bin/Debug/net5.0-windows/WinPolybar.runtimeconfig.dev.json
WinPolybar/WinPolybar/bin/Debug/net5.0-windows/WinPolybar.runtimeconfig.json
WinPolybar/WinPolybar/obj/Debug/net5.0-windows/WinPolybar_MarkupCompile.cache
WinPolybar/WinPolybar/obj/Debug/net5.0-windows/WinPolybar_MarkupCompile.i.cache
WinPolybar/WinPolybar/obj/Debug/net5.0-windows/WinPolybar_MarkupCompile.lref
WinPolybar/WinPolybar/obj/project.assets.json
WinPolybar/WinPolybar/obj/project.nuget.cache
WinPolybar/WinPolybar/obj/WinPolybar.csproj.nuget.dgspec.json
WinPolybar/WinPolybar/obj/WinPolybar.csproj.nuget.g.props
WinPolybar/WinPolybar/obj/WinPolybar.csproj.nuget.g.targets
WinPolybar/WinPolybar/obj/Debug/net5.0-windows/apphost.exe
WinPolybar/WinPolybar/obj/Debug/net5.0-windows/App.g.i.cs
WinPolybar/WinPolybar/obj/Debug/net5.0-windows/App.g.cs
WinPolybar/WinPolybar/obj/Debug/net5.0-windows/.NETCoreApp,Version=v5.0.AssemblyAttributes.cs
WinPolybar/WinPolybar/obj/Debug/net5.0-windows/WinPolybar.pdb
WinPolybar/WinPolybar/obj/Debug/net5.0-windows/WinPolybar.genruntimeconfig.cache
WinPolybar/WinPolybar/obj/Debug/net5.0-windows/WinPolybar_hhzdzz5d_wpftmp.assets.cache
WinPolybar/WinPolybar/obj/Debug/net5.0-windows/WinPolybar_hhzdzz5d_wpftmp.GeneratedMSBuildEditorConfig.editorconfig
WinPolybar/WinPolybar/obj/Debug/net5.0-windows/WinPolybar_hhzdzz5d_wpftmp.AssemblyInfo.cs
WinPolybar/WinPolybar/obj/Debug/net5.0-windows/WinPolybar.GeneratedMSBuildEditorConfig.editorconfig
WinPolybar/WinPolybar/obj/Debug/net5.0-windows/WinPolybar_hhzdzz5d_wpftmp.AssemblyInfoInputs.cache
WinPolybar/WinPolybar/obj/Debug/net5.0-windows/WinPolybar.g.resources
WinPolybar/WinPolybar/obj/Debug/net5.0-windows/WinPolybar.dll
WinPolybar/WinPolybar/obj/Debug/net5.0-windows/WinPolybar.csproj.FileListAbsolute.txt
WinPolybar/WinPolybar/obj/Debug/net5.0-windows/WinPolybar.csproj.CoreCompileInputs.cache
WinPolybar/WinPolybar/obj/Debug/net5.0-windows/WinPolybar.csproj.AssemblyReference.cache
WinPolybar/WinPolybar/obj/Debug/net5.0-windows/WinPolybar.assets.cache
WinPolybar/WinPolybar/obj/Debug/net5.0-windows/WinPolybar.AssemblyInfoInputs.cache
WinPolybar/WinPolybar/obj/Debug/net5.0-windows/WinPolybar.AssemblyInfo.cs
WinPolybar/WinPolybar/obj/Debug/net5.0-windows/ref/WinPolybar.dll
WinPolybar/WinPolybar/obj/Debug/net5.0-windows/MainWindow.g.i.cs
WinPolybar/WinPolybar/obj/Debug/net5.0-windows/MainWindow.g.cs
WinPolybar/WinPolybar/obj/Debug/net5.0-windows/MainWindow.baml
WinPolybar/WinPolybar/obj/Debug/net5.0-windows/WinPolybar.designer.deps.json
WinPolybar/WinPolybar/obj/Debug/net5.0-windows/WinPolybar.designer.runtimeconfig.json
WinPolybar/.vs/WinPolybar/DesignTimeBuild/.dtbcache.v2
WinPolybar/.vs/WinPolybar/v17/.futdcache.v1
WinPolybar/WinPolybar/obj/Debug/net5.0-windows/WinPolybar_2wxjqfbm_wpftmp.AssemblyInfo.cs
WinPolybar/WinPolybar/obj/Debug/net5.0-windows/WinPolybar_2wxjqfbm_wpftmp.AssemblyInfoInputs.cache
WinPolybar/WinPolybar/obj/Debug/net5.0-windows/WinPolybar_2wxjqfbm_wpftmp.assets.cache
WinPolybar/WinPolybar/obj/Debug/net5.0-windows/WinPolybar_2wxjqfbm_wpftmp.GeneratedMSBuildEditorConfig.editorconfig
WinPolybar/WinPolybar/obj/Debug/net5.0-windows/WinPolybar_2ye4fn3w_wpftmp.AssemblyInfoInputs.cache
WinPolybar/WinPolybar/obj/Debug/net5.0-windows/WinPolybar_2ye4fn3w_wpftmp.AssemblyInfo.cs
WinPolybar/WinPolybar/obj/Debug/net5.0-windows/WinPolybar_2ye4fn3w_wpftmp.assets.cache
WinPolybar/WinPolybar/obj/Debug/net5.0-windows/WinPolybar_2ye4fn3w_wpftmp.GeneratedMSBuildEditorConfig.editorconfig
WinPolybar/WinPolybar/obj/Debug/net5.0-windows/WinPolybar_am4lo5bl_wpftmp.AssemblyInfo.cs
WinPolybar/WinPolybar/obj/Debug/net5.0-windows/WinPolybar_am4lo5bl_wpftmp.AssemblyInfoInputs.cache
WinPolybar/WinPolybar/obj/Debug/net5.0-windows/WinPolybar_am4lo5bl_wpftmp.assets.cache
WinPolybar/WinPolybar/obj/Debug/net5.0-windows/WinPolybar_am4lo5bl_wpftmp.GeneratedMSBuildEditorConfig.editorconfig
WinPolybar/WinPolybar/obj/Debug/net5.0-windows/WinPolybar_b1pd1kny_wpftmp.AssemblyInfo.cs
WinPolybar/WinPolybar/obj/Debug/net5.0-windows/WinPolybar_b1pd1kny_wpftmp.AssemblyInfoInputs.cache
WinPolybar/WinPolybar/obj/Debug/net5.0-windows/WinPolybar_b1pd1kny_wpftmp.assets.cache
WinPolybar/WinPolybar/obj/Debug/net5.0-windows/WinPolybar_b1pd1kny_wpftmp.GeneratedMSBuildEditorConfig.editorconfig
WinPolybar/WinPolybar/obj/Debug/net5.0-windows/WinPolybar_boudm1ka_wpftmp.AssemblyInfo.cs
WinPolybar/WinPolybar/obj/Debug/net5.0-windows/WinPolybar_boudm1ka_wpftmp.AssemblyInfoInputs.cache
WinPolybar/WinPolybar/obj/Debug/net5.0-windows/WinPolybar_boudm1ka_wpftmp.assets.cache
WinPolybar/WinPolybar/obj/Debug/net5.0-windows/WinPolybar_boudm1ka_wpftmp.GeneratedMSBuildEditorConfig.editorconfig
WinPolybar/WinPolybar/obj/Debug/net5.0-windows/WinPolybar_cz322pdy_wpftmp.AssemblyInfo.cs
WinPolybar/WinPolybar/obj/Debug/net5.0-windows/WinPolybar_cz322pdy_wpftmp.AssemblyInfoInputs.cache
WinPolybar/WinPolybar/obj/Debug/net5.0-windows/WinPolybar_cz322pdy_wpftmp.assets.cache
WinPolybar/WinPolybar/obj/Debug/net5.0-windows/WinPolybar_cz322pdy_wpftmp.GeneratedMSBuildEditorConfig.editorconfig
WinPolybar/WinPolybar/obj/Debug/net5.0-windows/WinPolybar_dyg0xtwt_wpftmp.AssemblyInfo.cs
WinPolybar/WinPolybar/obj/Debug/net5.0-windows/WinPolybar_dyg0xtwt_wpftmp.AssemblyInfoInputs.cache
WinPolybar/WinPolybar/obj/Debug/net5.0-windows/WinPolybar_dyg0xtwt_wpftmp.assets.cache
WinPolybar/WinPolybar/obj/Debug/net5.0-windows/WinPolybar_dyg0xtwt_wpftmp.GeneratedMSBuildEditorConfig.editorconfig
